<div class="main">
  <div class="content-1 border">
    <div class="header">High Margin Recipes</div>
    <div class="content">
      <div class="sub-content">
        <div>Ambur biryani</div>
        <div style="padding-top: 1rem">
          <mat-progress-spinner mode="determinate" value="80">
          </mat-progress-spinner>
          <div style="position: relative; top: -60px; left: 30px">80%</div>
        </div>
      </div>
      <div class="sub-content">
        <div>Paneer Tikka</div>
        <div style="padding-top: 1rem">
          <mat-progress-spinner mode="determinate" value="80">
          </mat-progress-spinner>
          <div style="position: relative; top: -60px; left: 30px">80%</div>
        </div>
      </div>
      <div class="sub-content">
        <div>Palak Paneer</div>
        <div style="padding-top: 1rem">
          <mat-progress-spinner mode="determinate" value="80">
          </mat-progress-spinner>
          <div style="position: relative; top: -60px; left: 30px">80%</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-1 border">
    <div class="header">Low Margin Recipes</div>
    <div class="content">
      <div class="sub-content">
        <div>Ambur biryani</div>
        <div style="padding-top: 1rem">
          <div class="twitter-like">
            <mat-progress-spinner mode="determinate" color="accent" value="48">
            </mat-progress-spinner>
            <div style="position: relative; top: -60px; left: 30px">48%</div>
          </div>
        </div>
      </div>
      <div class="sub-content">
        <div>Ambur biryani</div>
        <div style="padding-top: 1rem">
          <mat-progress-spinner mode="determinate" color="accent" value="25">
          </mat-progress-spinner>
          <div style="position: relative; top: -60px; left: 30px">25%</div>
        </div>
      </div>
      <div class="sub-content">
        <div>Ambur biryani</div>
        <div style="padding-top: 1rem">
          <mat-progress-spinner mode="determinate" color="accent" value="15">
          </mat-progress-spinner>
          <div style="position: relative; top: -60px; left: 30px">15%</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-1 border">
    <div class="header">Top Fluctuating Recipes</div>
    <div class="content">
      <div class="sub-content">
        <div>Ambur biryani</div>

        <hr class="hr-classs" />

        <div style="padding-top: 1rem; color: green; text-align: center">
          5 % <span> <i class="fa fa-arrow-up"></i> </span>
        </div>
      </div>
      <div class="sub-content">
        <div>Ambur biryani</div>
        <hr class="hr-classs" />
        <div style="padding-top: 1rem; color: red; text-align: center">
          3 % <span> <i class="fa fa-arrow-down"></i> </span>
        </div>
      </div>
      <div class="sub-content">
        <div>Ambur biryani</div>
        <hr class="hr-classs" />
        <div style="padding-top: 1rem; color: red; text-align: center">
          8 % <span> <i class="fa fa-arrow-down"></i> </span>
        </div>
      </div>
    </div>
  </div>
</div>
